// import my variables

// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700");

//$font-family-sans-serif: 'Source Code Pro',monospace;
@import "./assets/variables";
//$brand-danger: blue;

@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  text-align: center;
  background-color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
